<a href="/post/{{id}}">
<article class="post">
  <div class="title">
    {{title}}
    <span> Posted by {{user.username}} on {{format_date created_at}}</span>
   
  </div>
  <div class="meta">
   <p>{{post_content}}</p>
   
  </div>
  <div class="meta">
    
    
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>
</a>